name: test-testdata

on:
  push:
    branches:
      - main
    paths:
      - testdata/**
  pull_request:
    branches:
      - main
    paths:
      - testdata/**

jobs:
  test-testdata:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        cache: 'npm'
        cache-dependency-path: testdata/package-lock.json

    - run: npm ci
      working-directory: testdata

    - name: check repository is not dirty
      run: "[[ -z $(git status --porcelain) ]]"

    - name: show diff
      if: ${{ failure() }}
      run: git status --porcelain
